> #profile {
	padding-top: 20px;

	.username {
		display: inline-block;
		font-size: 21px;

		span {
			font-size: 14px;
		}
	}

	.btn-red {
		float: right;

		img {
			width: 16px;
			margin-right: 2px;
		}
	}

	.user-image {
		margin-top: 20px;
		width: 200px;
		height: 200px;
	}
}