> #user-tabs{
	
	.no-user-tabs{
		margin-top: 40px;
		text-align: center;
		
		img{
			width: 100px;
			margin-bottom: 20px;
		}
	}
	
	.results-table{
		margin-top: 20px;
		
		.rating{
			width: 100px;
		}
		
		.edit-tab{
			width: 120px;
			text-align: center;
			
			a{
				color: $blue;
				
				span{
					cursor: pointer;
					font-size: 17px;
					padding: 0px 15px;

					&:hover{
						color: $red;
					}
				}
			}
		}
	}
}