Options -MultiViews
RewriteEngine On

#change this when moving to another domain
RewriteBase /Tablaturi-bg-angular
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]