> header {
	@import "_navigation";

	.inner-header {
		position: relative;
		background-color: #D7D7D7;
		text-align: center;

		.social-icons {
			position: absolute;
			bottom: 10px;
			left: 10px;

			a {
				&:hover, &:focus{
					text-decoration: none;
				}

				img {
					width: 35px;
				}
			}
		}

		.authentication{
			position: absolute;
			right: 10px;
			bottom: 10px;

			a {
				margin-right: 10px;
				text-decoration: underline;
				font-size: 16px;
				color: $blue;
			}

			input[type=button]{
				padding-left: 40px;
				padding-right: 40px;
			}
		}
		
		.welcome-panel{
			position: absolute;
			right: 10px;
			bottom: 10px;
		}

		.stats{
			position: absolute;
			right: 10px;
			top: 10px;

			> div{
				text-align: right;

				span{
					font-weight: bold;
				}
			}
		}
	}
}