.main-navigation {
	height: 50px;
	background-color: $red;
	line-height: 50px;
	text-align: center;

	.item{
		position: relative;
		display: inline-block;
		width: 13.65%;
		text-align: center;

		a {
			display: block;
			width: 100%;
			color: #fff;
			text-shadow: none;

			&:before, &:after {
				position: absolute;
				left: 0;
				width: 100%;
				height: 1px;
				background: #fff;
				content: '';
				opacity: 0;
				transition: opacity 0.3s, transform 0.3s;
				transform: translateY(-10px);
			}

			&:before {
				top: 7px;
				transform: translateY(-10px);
			}

			&:after {
				bottom: 7px;
				transform: translateY(10px);
			}
			
			&:focus:before{
				transform: translateY(-10px);
			}
			
			&:focus:after{
				transform: translateY(10px);
			}
			
			&:hover:before, &:hover:after {
				opacity: 1;
				transform: translateY(0px);
			}
		}
	}
}