.btn{
	border-radius: 0px;
	font-size: 16px;
	color: #fff;
	transition: all 0.4s ease-in-out;
	border: 1px solid transparent;

	&:focus, &:active:focus{
		color: #fff;
		outline: none;
	}

	&.btn-red{
		background-color: $red;

		&:hover{
			color: #fff;
			background-color: darken($red, 15%);
		}
	}
}

.text-control{
	background-color: $gray;
	color: $blue;
	border: solid 1px transparent;
	padding: 8px 10px;
	outline: none;
}

.custom-dropdown{
	position: relative;
	margin-bottom: 0px;
	
    &:after {
        content: '\e259';
		font-family: 'Glyphicons Halflings';
		font-size: 15px;
		right: 10px;
		top: 8px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }

	select{
		padding: 7px 30px 7px 5px;
		border-radius: 2px;
		border: 1px solid $blue;
		color: $blue;
		background-color: $gray;
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		outline: none;
	}

}

.custom-modal{
	
	.modal-content{
		border-radius: 0px;
		
		.modal-header{
			color: #fff;
			background-color: $red;
			border-bottom: solid 2px $blue;
			
			.close{
				margin-top: 2px;
				color: #fff;
				opacity: 1;
			}
		}
		
		.modal-body{
			padding: 20px;
		}
	}
}