@import "_bootstrap";

$red: #F84241;
$blue: #465A65;
$gray: #E4E4E4;

body{
	background: url('../img/background.jpg') fixed no-repeat;
	color: $blue;
	font-family: 'Open Sans', sans-serif;
	
	a:hover, a:focus{
		text-decoration: none;
		outline: none;
	}
}

#main-wrapper {
	width: 1000px;
	margin: auto;
	background-color: #fff;
	border-left: 1px solid #ADADAD;
	border-right: 1px solid #ADADAD;

	header {
		@import "_navigation";

		.inner-header {
			position: relative;
			background-color: #D7D7D7;
			text-align: center;

			.social-icons {
				position: absolute;
				bottom: 10px;
				left: 10px;

				a {
					&:hover, &:focus{
						text-decoration: none;
					}

					img {
						width: 35px;
					}
				}
			}
			
			.authentication{
				position: absolute;
				right: 10px;
				bottom: 10px;
				
				a {
					margin-right: 10px;
					text-decoration: underline;
					font-size: 16px;
					color: $blue;
				}
				
				input[type=button]{
					padding-left: 40px;
					padding-right: 40px;
				}
			}
			
			.stats{
				position: absolute;
				right: 10px;
				top: 10px;
				
				span{
					font-weight: bold;
				}
			}
		}
	}

	@import "_search";

	#content-wrapper {
		visibility: hidden;
		display: inline-block;
		margin: 5px -4px 0px -4px;
		padding: 20px;
		width: 738px;
		min-height: 600px;
		vertical-align: top;
		
		//partials
		@import "partials/_home";
	}

	.left-ads, .right-ads {
		visibility: hidden;
		display: inline-block;
		width: 120px;
		min-height: 600px;
		margin: 5px;
		vertical-align: top;
		background-color: gray;
	}

	.bottom-ad {
		height: 90px;
		margin-left: 5px;
		margin-right: 5px;
		background-color: blue;
	}

	@import "_footer";

}

//ui-kit
@import "_ui-kit";

//directives
@import "_articles";
