@import "_bootstrap";

$red: #F84241;
$blue: #465A65;
$gray: #E4E4E4;

body{
	background: url('../img/background.jpg') fixed no-repeat;
	color: $blue;
	font-family: 'Open Sans', sans-serif;

	a:hover, a:focus{
		text-decoration: none;
		outline: none;
	}
}

#main-wrapper {
	width: 1000px;
	margin: auto;
	background-color: #fff;
	border-left: 1px solid #ADADAD;
	border-right: 1px solid #ADADAD;

	@import "_header";
	@import "_search";

	#content-wrapper {
		visibility: hidden;
		display: inline-block;
		margin: 5px -4px 0px -4px;
		padding: 20px;
		width: 738px;
		min-height: 600px;
		vertical-align: top;

		//partials
		@import "partials/_home";
	}

	.left-ads, .right-ads {
		visibility: hidden;
		display: inline-block;
		width: 120px;
		min-height: 600px;
		margin: 5px;
		vertical-align: top;
		background-color: gray;
	}

	.bottom-ad {
		height: 90px;
		margin-left: 5px;
		margin-right: 5px;
		background-color: blue;
	}

	@import "_footer";

}

//ui-kit
@import "_ui-kit";

//directives
@import "directives/_article";
