@import "_bootstrap";

$red: #F84241;
$blue: #465A65;
$gray: #E4E4E4;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

body{
	background: url('../../img/background.jpg') fixed no-repeat;
	color: $blue;
	font-family: 'Open Sans', sans-serif;

	a:hover, a:focus, button{
		text-decoration: none;
		outline: none;
	}

	label{
		font-weight: normal;
	}

}

#main-wrapper {
	width: 1000px;
	margin: auto;
	background-color: #fff;
	border-left: 1px solid #ADADAD;
	border-right: 1px solid #ADADAD;

	@import "_header";
	@import "_search";

	#content-wrapper {
		display: inline-block;
		margin: 5px -4px 0px -4px;
		padding: 20px;
		width: 738px;
		min-height: 600px;
		vertical-align: top;

		.loading-placeholder{
			display: none;
			margin: auto;
			text-align: center;

			> svg{
				width: 100px;
				height: 100px;

				rect{
					fill: $red;
				}
			}
		}

		#view-wrapper{
			visibility: hidden; //chrome ng-view hack
			
			section {
				//partials
				@import "partials/_home";
				@import "partials/_articles";
				@import "partials/article/_article";
				@import "partials/profile/_user-panel";
				@import "partials/_tabs";
				@import "partials/_tab";
				@import "partials/_search";
				@import "partials/_search-backing-tracks";
				@import "partials/_guitar-pro";
				@import "partials/_contact-us";
				@import "partials/_copyright";
				@import "partials/_usefull";
				@import "partials/_not-found";
				@import "partials/_forbidden";
			}
		}

	}

	.left-wrapper, .right-wrapper {
		display: inline-block;
		width: 120px;
		min-height: 600px;
		margin: 5px;
		vertical-align: top;
		
		.additional{
			margin-top: 5px;
		}
	}

	.bottom-wrapper {
		margin: auto;
		width: 728px;
		min-height: 90px;
		//margin-left: 5px;
		//margin-right: 5px;
	}

	@import "_footer";

}

//ui-kit
@import "_ui-kit";

//modals
@import "_login";
@import "_signup";

//directives
@import "directives/_article";
@import "directives/_comment";
@import "directives/_pagination";
@import "directives/_stars-rating";
