> .about-us {
	.title {
		margin-top: 0;
		font-size: 17px;
		text-align: center;
	}
	
	.content {
		margin-top: 20px;
		
		span {
			font-weight: bold;
		}
		
		.logo {
			display: block;
			margin: 50px auto auto;
			width: 350px;
		}
	}
}