> .change-password{

	.title {
		margin-top: 0;
		margin-bottom: 30px;
		font-size: 17px;
		text-align: center;
	}

	.field-box {
		margin: auto;
		margin-bottom: 25px;
		width: 300px;

		.text-control{
			display: block;
			width: 100%;
		}	
	}

	.btn{
		display: block;
		margin: auto;
	}

	.invalid-token{
		img {
			width: 100px;
			margin-bottom: 20px;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}

		p {
			text-align: center;
			line-height: 25px;
		}
	}

	.change-password-success{
		img{
			display: block;
			margin: auto;
		}

		.message{
			margin-top: 20px;
			text-align: center;
		}
	}

}