> .not-found{
	text-align: center;
	margin-top: 20px;

	.text, img {
		display: inline-block;
	}

	img {
		width: 250px;
	}

	.text {
		margin-left: 50px;
		vertical-align: middle;

		h1 {
			font-size: 70px;
			font-weight: 200;
		}

		.btn {
			display: block;
			margin-top: 40px;
		}
	}
}