> .search {
	
	.title {
		text-align: center;
		
		span{
			img{
				width: 100px;
				margin-bottom: 20px;
			}
		}
		
		.search-params {
			color: $red;
			font-style: italic;
		}
	}
	
	
	.results-table {
		td:nth-child(3), td:nth-child(4) {
			width: 100px;
		}
	}

}