> .search-backing-tracks {
	
	.title {
		text-align: center;
		
		.search-params {
			color: $red;
			font-style: italic;
		}
	}
	
	.results-table {		
		td {
			&:nth-child(3) {
				width: 80px;
				text-align: center;
			}
			img {
				width: 20px;
			}
		}
	}

}